<header class="mb-2 px-1 shadow-2xl bg-black/70">

    <div class="relative mx-auto flex max-w-screen-lg flex-col py-4 sm:flex-row sm:items-center sm:justify-between">
      
      <a class="flex items-center text-2xl font-black" href="/">
        <span class="mr-2 text-3xl text-blue-200">
            <img class="absolute top-5 left-5 w-20 h-20 rounded-full shadow-[0_5px_30px_-2px_rgba(255,255,255,0.7)] " src="assets/images/logo-ec.png">
        </span>
      </a>

      <input class="peer hidden" type="checkbox" id="navbar-open" />

      <label class="absolute right-0 mt-1 cursor-pointer text-xl sm:hidden" for="navbar-open">
        <span class="sr-only">Toggle Navigation</span>
        <svg xmlns="http://www.w3.org/2000/svg" 
            width="2em" 
            height="2em" 
            preserveAspectRatio="xMidYMid meet" 
            viewBox="0 0 448 512">
                <path fill="#ffffff"
                d="M0 96c0-17.7 14.3-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zm448 160c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h384c17.7 0 32 14.3 32 32z" />
        </svg>
      </label>

      <nav aria-label="Header Navigation" class="peer-checked:block hidden pl-2 py-6 sm:block sm:py-0">
        <ul class="flex flex-col gap-y-4 sm:flex-row sm:gap-x-8">
          <li class=""><a class="text-white font-bold hover:text-orange-400 transition-all" routerLink="/">Inicio</a></li>
          <li class=""><a class="text-white font-bold hover:text-orange-400 transition-all" routerLink="/products">Productos</a></li>
          <li class=""><a class="text-white font-bold hover:text-orange-400 transition-all" routerLink="/contact">Contacto</a></li>
        </ul>
      </nav>

    </div>
</header>