

<!-- Botones de ingreso de pedidos - Pagos y Traspasos -->
<div class="p-2 w-[98%] rounded-xl mx-auto text-gray-200 overflow-hidden sm:w-[90%] sm:max-w-[70%]">
    <div class="flex justify-around">
        <button type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">
            + Pedido
        </button>
        <button type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">
            + Pago
        </button>
        <button type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">
            + Traspaso
        </button>
    </div>
</div>


<!-- Div de Informacion de Cliente -->
<div class="m-3 w-[98%] rounded-xl mx-auto text-gray-200 overflow-hidden sm:w-[90%] sm:max-w-[70%] border border-gray-700">
    
    <div class="bg-slate-950/80 p-2 font-bold text-center"> Cliente : {{ cliente.id }}</div>

    <!-- Div Contenedor Cuerpo de Cliente -->
    <div class="bg-gray-700/60 flex flex-col gap-3 p-3 sm:gap-4">
        <div class="flex flex-col sm:flex-row sm:gap-4">
            <div>Rut:</div>
            <div class="font-bold">{{ cliente.rut }}</div>
        </div>
        <div class="flex flex-col sm:flex-row sm:gap-4">
            <div>Nombre:</div>
            <div class="font-bold">{{ cliente.nombre }}</div>
        </div>
        <div class="flex flex-col sm:flex-row sm:gap-4">
            <div>Descripción:</div>
            <div class="font-bold">{{ cliente.descripcion }}</div>
        </div>
        <div class="flex flex-col sm:flex-row sm:gap-4">
            <div>Dirección:</div>
            <div class="font-bold">{{ cliente.direccion }}</div>
        </div>
    </div>

</div>

<app-last-fives-pedidos />




