

<!-- Div de Informacion de Pagos -->
<div class="m-3 w-[98%] rounded-xl mx-auto text-gray-200 overflow-hidden sm:w-[90%] sm:max-w-[70%] border border-gray-700">
    
    <div class="bg-slate-600/90 p-2 font-bold text-center">Ultimos 5 Traspasos </div>

    <!-- Div Detalle de 1 Pago -->
    <div>
        <table class="w-full m-1">
            <thead>
                <tr class="border-b border-gray-800">
                    <th class="py-2">Fecha</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Tipo</th>
                    <th>Enlace</th>
                </tr>
            </thead>
            <tbody>
                @for (traspaso of apiTraspasos ; track traspaso.fecha ){
                    <tr class="border-b border-gray-800 hover:bg-slate-700/40 transition-all">
                        <td class="py-3 text-center">{{ traspaso.fecha | date: 'dd-MM-yyyy' }}</td>
                        <td class="text-center">{{ traspaso.nombre }}</td>
                        <td class="text-center">{{ traspaso.cantidad }}</td>
                        <td class="text-center">{{ traspaso.tipo_traspaso }}</td>
                        <td class="text-center text-purple-300 hover:text-purple-500"><a href="#">Ver</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


